body {
    margin: 0;
    padding: 0;
    background-color: #deb887;
}

header {
    background-color:#e9d0af;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    font-weight: bold;
    border: 2px dot-dot-dash #333;
    padding: 10px;
    background-color: #d9ad73;
}

.navMenu {
    display: flex;
}

.navMenu a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.navMenu a:hover {
    text-decoration: underline;
}
.navMenu {
    margin-left: auto;
}
.mainPart {
    position: relative;
    padding: 20px;
    background-color: #deb887;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPart p {
    margin-bottom: 10px;
}

.mainPart img {
    max-width: 300px;
    margin-bottom: 20px;
}

.mainPart .imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
}

.mainPart a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #deb887;
    border: 1px dot-dot-dash #333;
}
